name: Android-Bleed-Build-Windows

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install Ninja
      run: choco install ninja -y

    - name: Download Android NDK r27d
      run: |
        Invoke-WebRequest -Uri "https://dl.google.com/android/repository/android-ndk-r27d-windows.zip" -OutFile "ndk.zip"
        Expand-Archive ndk.zip -DestinationPath .
        Rename-Item -Path android-ndk-r27d -NewName android-ndk

    - name: Configure CMake
      run: |
        cmake -B build `
          -G Ninja `
          -DCMAKE_SYSTEM_NAME=Android `
          -DCMAKE_SYSTEM_VERSION=21 `
          -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a `
          -DCMAKE_ANDROID_NDK="${{ github.workspace }}\android-ndk" `
          -DCMAKE_ANDROID_STL_TYPE=c++_static `
          -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Bleed-arm64-v8a
        path: build/*.so
