name: Android-Bleed-Build-Windows

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install Ninja
      run: |
        choco install ninja -y
        echo "C:\ProgramData\chocolatey\bin" | Out-File -FilePath $env:GITHUB_PATH -Append

    - name: Download Android NDK r27d
      run: |
        Invoke-WebRequest -Uri "https://dl.google.com/android/repository/android-ndk-r27d-windows.zip" -OutFile "ndk.zip"
        Expand-Archive ndk.zip -DestinationPath .
        Rename-Item -Path android-ndk-r27d -NewName android-ndk


    - name: Build arm64-v8a
      run: |
        $NDK_PATH = "${{ github.workspace }}\android-ndk".Replace('\', '/')
        
        New-Item -ItemType Directory -Force -Path "build\arm64-v8a"
        Set-Location -Path "build\arm64-v8a"
        
        cmake ../.. -G "Ninja" `
          -DCMAKE_SYSTEM_NAME=Android `
          -DCMAKE_SYSTEM_VERSION=21 `
          -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a `
          -DCMAKE_ANDROID_NDK="$NDK_PATH" `
          -DCMAKE_ANDROID_STL_TYPE=c++_static `
          -DCMAKE_BUILD_TYPE=Release
          
        cmake --build . --config Release


    - name: Build armeabi-v7a
      run: |
        $NDK_PATH = "${{ github.workspace }}\android-ndk".Replace('\', '/')
        
        New-Item -ItemType Directory -Force -Path "build\armeabi-v7a"
        Set-Location -Path "build\armeabi-v7a"
        
        cmake ../.. -G "Ninja" `
          -DCMAKE_SYSTEM_NAME=Android `
          -DCMAKE_SYSTEM_VERSION=21 `
          -DCMAKE_ANDROID_ARCH_ABI=armeabi-v7a `
          -DCMAKE_ANDROID_NDK="$NDK_PATH" `
          -DCMAKE_ANDROID_STL_TYPE=c++_static `
          -DCMAKE_BUILD_TYPE=Release
          
        cmake --build . --config Release


    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Bleed-Libs

        path: build/**/*.so
